@import 'styles/theme';

.dashboard {

  &.container {
    //margin-top: 12em;
    padding-top: 4em;
    min-height: 300px;
    @include center;
    flex-direction:column;
    color: $color4;
  }

  &.profile-container {
    position: absolute;
    top: 32px;
    right: 50px;
     }

  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    max-width: 30em;
    height: 25em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: $background;
    border-style: solid;
    border: $border;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.input {
    height: 35px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    background: transparentize(white, 0.85);
    color: $color2;//$textColor;
  }
  &.label {
    color: $color2;//$textColor;
    margin-bottom: 10px;
    text-transform: lowercase;
    font-weight: 300;
  }
  &.button-container {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }

  &.color-bottom {
    background-color: $color3;//$color3;
  }
  &.overview {
    display: block;
    height: 300px;
    width: 300px;
    line-height: 300px;

    -moz-border-radius: 150px; /* or 50% */
    border-radius: 150px; /* or 50% */

    background-color: $color2;
    color: $color1;
    text-align: center;
    font-size: 2em;

    position: absolute;
    top: 300px;
    left: 600px;

    font-size: 100px;


  }
  &.overviewLobby {
    display: block;
    height: 200px;
    width: 200px;
    line-height: 200px;

    -moz-border-radius: 100px; /* or 50% */
    border-radius: 100px; /* or 50% */

    background-color: $color4;
    color: $color1;
    text-align: center;
    font-size: 2em;

    position: absolute;
    top: 500px;
    left: 800px;

    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;


  }

  &.overviewGame {
    display: block;
    height: 200px;
    width: 200px;
    line-height: 200px;

    -moz-border-radius: 100px; /* or 50% */
    border-radius: 100px; /* or 50% */

    background-color: $color4;
    color: $color1;
    text-align: center;
    font-size: 2em;

    position: absolute;
    top: 200px;
    left: 500px;

    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &.overviewGame2 {
    display: block;
    height: 100px;
    width: 100px;
    line-height: 100px;

    -moz-border-radius: 50px; /* or 50% */
    border-radius: 50px; /* or 50% */

    background-color: $color2;
    color: $color1;
    text-align: center;
    font-size: 2em;

    position: absolute;
    top: 220px;
    left: 403px;

    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }
  &.overviewGame3 {
    display: block;
    height: 100px;
    width: 100px;
    line-height: 100px;

    -moz-border-radius: 50px; /* or 50% */
    border-radius: 50px; /* or 50% */

    background-color: $color3;
    color: $color1;
    text-align: center;
    font-size: 2em;

    position: absolute;
    top: 325px;
    left: 420px;

    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }

  &.overviewGame4 {
    display: block;
    height: 100px;
    width: 100px;
    line-height: 100px;

    -moz-border-radius: 50px; /* or 50% */
    border-radius: 50px; /* or 50% */

    background-color: $color4;
    color: $color1;
    text-align: center;
    font-size: 2em;

    position: absolute;
    top: 390px;
    left: 500px;

    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }

  &.overviewRules {
    display: block;
    height: 200px;
    width: 200px;
    line-height: 200px;

    -moz-border-radius: 100px; /* or 50% */
    border-radius: 100px; /* or 50% */

    background-color: $color3;
    color: $color1;
    text-align: center;
    font-size: 2em;

    position: absolute;
    top: 200px;
    left: 800px;

    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;


  }

  &.overviewRanking {
    display: block;
    height: 200px;
    width: 200px;
    line-height: 200px;

    -moz-border-radius: 100px; /* or 50% */
    border-radius: 100px; /* or 50% */

    background-color: $color3;
    color: $color1;
    text-align: center;
    font-size: 2em;

    position: absolute;
    top: 500px;
    left: 500px;

    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;

    cursor: pointer;
  }

    

}

