@import 'styles/theme';

.game {
  &.container {
    flex-direction: column;
    width: 700px;
    height: 400px;
    padding-bottom: 2em;
    padding-top: 3em;
  }

  &.enemyContainer{
    display: flex;
    float: right;
    width: 1000px;
    height: 200px;
    padding-top: 2em;
    padding-bottom: 4em;
    align-items: right;

  }

  &.playerContainer{
    display: flex;
    width: 1000px;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  &.ownUser{
    display: flex;
    float: left;
    padding-right: 2em;
  }

  &.buttonContainer{
    display: flex;
    width: 300px;
    float:right;
    padding-left: 3em;
  }

  &.handContainer{
    display: flex;
    width: 600px;
  }

  &.launcher{
    float: left;
  }

  &.label{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute; 
    top: 40px; 
    left: 15px;
    color: $color1;
  }

  &.firstOwnCard{
    display: flex;
  }

  &.nextCards{
    display: flex;
    //position: relative;
    //top: -9.7em;
    //left: 4em;
  }

  &.middleCard{
    float:right;
  }

  &.firstEnemy{
    float: right;
  }

  &.nextEnemy{
    float: right;
  }

  &.topComment{
  float: right;
  }

  &.bottomComment{
    float: right;
  }

  &.comments{
    position: fixed;
    top: 300px;
    right: 500px;
    font-family: Arial, Helvetica, sans-serif;
    color: $color4;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
   
  }

  
}

