//@import 'styles/theme';

.game {
  &.form1{
    position: absolute;
    margin-left: auto;
    padding-left: 500px;
    margin-top: auto;
    padding-top: 450px;

//     left: 392px;
// top: 760px;
  }

  &.form2{
    //margin-left: auto;
    //padding-left: 30px;
    position: relative; 
    top: -9.7em; 
    left: 2em;
    
    
  }
  
}

