@import 'styles/theme';

.header {
  &.container {
    @include center;
  }

  &.title {
    font-weight: bold;
    color: $background;
    text-align: center;
    
  }

  &.uno {
    /* UNO */

    position: absolute;
    width: 146px;
    height: 100px;
    left: 102px;
    top: 32px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 93px;
    display: flex;
    align-items: center;
    letter-spacing: -0.05em;

    color: #000000;
  }

  &.extreme {


    /* extreme */

    position: absolute;
    width: 157.61px;
    height: 46.36px;
    left: 33px;
    top: 38px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;

    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: -0.05em;

    color: #000000;

    transform: matrix(0.9, -0.44, 0.44, 0.9, 0, 0);
  }
}