@import 'styles/theme';

.header {
  &.container {
    //border-bottom-color: $color2;
    //border-bottom-style: solid;
    //border-bottom-width: 5px;
    background-color: $color1;
  }

.wrapper{
  display: flex;
  float: left;

}
  &.uno {
    /* UNO */
    height: 100px;
    width: 100px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    line-height: 93px;
    display: flex;
    align-items: center;
    letter-spacing: -0.05em;
    color: #eacd0b;
    padding-left: 1em;
    padding-top: 0.2em;

  }

  &.extreme {
    width: 100px;
    padding-left: 3em;
    padding-top: 0.5em;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 47px;
    letter-spacing: -0.05em;
    color: black;
    transform: matrix(0.9, -0.44, 0.44, 0.9, 0, 0);
  }
}
