@import 'styles/theme';

.lobby {
  &.container {
    margin-top: 4em;
    min-height: 300px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
    height: auto;
    overflow: auto;
  }
  &.form {
    position: absolute;
    top: 200px;
    left: 250px;
    // display: flex;
    // flex-direction: column;
    //justify-content: center;
    width: 1000px;
    // max-width: 30em;
    // height: 25em;
    // font-size: 16px;
    // font-weight: 300;
    // padding-left: 37px;
    // padding-right: 37px;
    border-radius: 0.75em;
    background-color: $color2;
    //transition: opacity 0.5s ease, transform 0.5s ease;
    // box-shadow: $dropShadow;
    height: auto;
    //overflow: auto;
  }
  &.field {
    display: flex;
    position: relative;
    //top: 7px;
    left: 60px;
    width: 800px;
    //flex-direction: column;
    //justify-content: center;
  }
  &.gameButton {
    //display: absolute;
    position: relative;
    top: 7px;
    left: 100px;
    width: 225px;
    margin-right:60px;
    background-color: $color4;
    cursor: pointer;
    display: absolute;
    float: left;
  }

  &.title{
    position: relative;
    top: 7px;
    left: 100px;
  }
//   &.input {
//     height: 35px;
//     padding-left: 15px;
//     margin-left: -4px;
//     border: black;
//     border-style: solid;
//     border-width: 2px;
//     border-radius: 0.75em;
//     margin-bottom: 20px;
//     background: transparentize(white, 0.85);
//     color: black;
//   }
//   &.lobbyButton {
//     display: flex;
//     justify-content: center;
//     margin-top: 2em;
//     margin-bottom: 20px;
//   } 
  

  &.ownUser{

    position: absolute;
    top: 32px;
    right: 50px;

  }

  &.labelLeft{
    position: relative;
    left: 2px;
  }
  &.labelRight{
    position: relative;
    left: 45em;
  }

  &.maxSize{

    position: relative;
    left: 15em;

  }
  
  
}