@import 'styles/theme';

.lobby {
  &.container {
    margin-top: 4em;
    min-height: 300px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
    height: auto;
    overflow: auto;
  }
  &.form {
    position: absolute;
    top: 200px;
    left: 250px;
    width: 1000px;
    border-radius: 0.75em;
    background-color: $color2;
    height: auto;
  }
  &.field {
    display: flex;
    position: relative;
    left: 60px;
    width: 800px;
  }
  &.gameButton {
    position: relative;
    top: 7px;
    left: 100px;
    width: 225px;
    margin-right:60px;
    background-color: $color4;
    cursor: pointer;
    display: absolute;
    float: left;
  }

  &.title{
    position: relative;
    top: 7px;
    left: 100px;
  }
  

  &.ownUser{
    position: absolute;
    top: 32px;
    right: 50px;
  }

  &.labelLeft{
    position: relative;
    left: 2px;
  }
  &.labelRight{
    position: relative;
    left: 45em;
  }

  &.maxSize{
    position: relative;
    left: 15em;
  }
  
  
}