@import 'styles/theme';

.rules {

  &.container {
    margin-top: 4em;
    min-height: 300px;
    @include center;
    flex-direction:column;

  }
  &.profile-container {
    position: absolute;
    top: 32px;
    right: 50px;
  }

  &.form {
    color:whitesmoke;
    text-align: center;
    width: 50em;
    height: auto;
    font-size: 16px;
    font-weight: 500;
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 30px;
    border-radius: 0.75em;
    border: solid black;
    background-color:$background;
    box-shadow: $dropShadow;
   h1{
     color:$color4;
   }
    h3{
      color:$color4;
    }
  }

  &.button-container {
    display:flex;
    justify-content:center;
    margin-top: 2em;
    margin-bottom: 1em;
  }

}
.bold{
  font-weight: bold;
}