@import 'styles/theme';

.waitingroom {
  &.container {
    margin-top: 12em;
    min-height: 300px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
  }

  
  &.ownUser{

    
    position: fixed;
    top:300px;
    left: 550px;
    color: black;
  }


  &.Enemy{
    position: relative;
    top:-6.5em; 
    left: 6em;
  }
  
  &.bottomComment{
    position: relative;
    top:0em;
    left: 0em;
    color: black;
  }

  &.Url{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute; 
    top: 80px; 
    left: 750px;
    color: black;
  }
  &.field {
    position: fixed;
    top: 500px;
    left: 600px;
    width: 200px;
  }

  &.label {
    position: fixed;
    top: 200px;
    left: 600px;
    color: $color3;
  }
  
  &.labelBottom{
    position: relative;
    left: 0em;
  }
  &.content{
    position: absolute;
    top: 300px;
    left: 500px;
  }
  
  #menu ul{
    list-style: none;
    display:flex;
    
  }
  #menu li{
    display: inline;
    padding-right: 10px;
  }
  
}

