@import 'styles/theme';

.enemy {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100px;
  border-radius: 5px;
  padding-right: 1em;
  padding-left: 1em;
  border:solid;
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;

  &:hover {
    transform: translateY(-2px);
  }
  h1{
     font-size: 48px;
     margin-top: 0;
     margin-bottom:0;
   }
  p{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    color: white;
  }
}