//@import 'styles/theme';

.launcher {
    position: absolute;
    // width: 183px;
    // height: 206px;
    left: 372.22px;
    top: 380px;
    width: 100px;
    height: 200px;
    border-radius: 50px / 100px;

    background: linear-gradient(180deg, #276FDA 32.92%, rgba(195, 195, 196, 0.00937525) 99.99%, rgba(196, 196, 196, 0) 100%);
    //border-radius: 17px;
    transform: rotate(85deg);
   
  
  
}