
.card {
  width:111px;
  height:155px;
  float:left;
  background:#fff;
  border-radius:5px;
  border-color: white;
  display:table;
  box-sizing:border-box;
  padding:5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:48px;
  font-weight: bold;
  text-shadow: 2px 2px black;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  text-align:center;
  position:relative;
  cursor: pointer;
  button{
    color: red;
    font-weight: bold;
    text-shadow: 2px 2px black;
  }

}
.card .inner{
  display:table-cell;
  vertical-align:middle;
  border-radius:5px;
  overflow:hidden;
}

.card .mark{
  display:flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background:#ffffff;
  margin:auto;
  padding:5px;
  border-radius:100px 60px / 120px 60px;
  line-height:1.4;
}

.card .text{
  display:flex;
  font-size: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background:#ffffff;
  margin:auto;
  padding:5px;
  border-radius:100px 60px / 120px 60px;
  line-height:1.4;
}

.card:before,
.card:after{
  display:inline-block;
  position:absolute;
  line-height:0;
  font-size:20px;
  color:#ffffff;
  text-shadow:
          1px  1px 0 #000000,
          -1px -1px 0 #000000,
          -1px  1px 0 #000000,
          1px -1px 0 #000000,
          1px  0   0 #000000,
          -1px  0   0 #000000,
          0   -1px 0 #000000,
          0    1px 0 #000000,
          2px  2px 0 #000000;
}

.card:before{
  top:15px;
  left:10px;
}
.card:after{
  bottom:15px;
  right:10px;
  -webkit-transform:rotate(180deg)
}

.card.BLUE{
  color:#0063B3;
}

.card.BLUE .inner{
  background:#0063B3;
}

.card.GREEN{
  color:#18A849;
}

.card.GREEN .inner{
  background:#18A849;
}

.card.RED{
  color:#C72A18;
}

.card.RED .inner{
  background:#C72A18;
}

.card.YELLOW{
  color:#E6CA1E;
}

.card.YELLOW .inner{
  background:#E6CA1E;
}

.card.BLACK {
  color: #C72A18;
  font-size: 20px;
}

.card.BLACK .inner{
  background: black;
}

.card.num-0:before,
.card.num-0:after{
  content:"0";
}

.card.num-1:before,
.card.num-1:after{
  content:"1";
}

.card.num-2:before,
.card.num-2:after{
  content:"2";
}

.card.num-3:before,
.card.num-3:after{
  content:"3";
}

.card.num-4:before,
.card.num-4:after{
  content:"4";
}

.card.num-5:before,
.card.num-5:after{
  content:"5";
}

.card.num-6:before,
.card.num-6:after{
  content:"6";
}

.card.num-7:before,
.card.num-7:after{
  content:"7";
}

.card.num-8:before,
.card.num-8:after{
  content:"8";
}

.card.num-9:before,
.card.num-9:after{
  content:"9";
}

.card.num-10:before,
.card.num-10:after{
  content:"10";
}
.card.WILDCARD:before,
.card.WILDCARD:after{
  content:"Wild";
}
.card.REVERSE:before,
.card.REVERSE:after{
  content:"Reverse";
}
.card.HIT_2:before,
.card.HIT_2:after{
  content:"x2";
}
.card.SKIP:before,
.card.SKIP:after{
  content:"Skip";
}
.card.DISCARD_ALL:before,
.card.DISCARD_ALL:after{
  content:"Discard All";
  font-size: 16px;
}
.card.EXTREME_HIT:before,
.card.EXTREME_HIT:after{
  content:"Extreme";
}

