@import 'styles/theme';

.scoreUser {
  &.container {
    margin: 0.5em 0;
    width: 20em;
    padding: 10px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
  }

  &.username {
    font-weight: 500;
    margin-left: 100px;
    font-size: 24px;
  }

  &.score {
    font-weight: 300;
    margin-left: 20px;
    font-size: 20px;
  }
}