/*
  This file contains the most basic variables that control how your application will look.
 */

/* Theme Colors

   these values control the colors of your application.
   feel free to play around with these and see what other look you can come up with! :D
*/

$color1: #121928;//#D0DAE4;//#2B103B;//#014254;//#121928;
$color2: #317380;//#2A6078; //#715CA8;//#1ABCBD;//#317380;
$color3: #E13239;//#7CA3A4;//#B9CD74;//#416EB6;//#F4A5A1;//#7CA3A4;
$color4: #EECB27;//#FBE274;//#085438;//#EFC638;//#FFE246;//#FBE274;
$yellow: #FFE246;//#EACD0B;

$accent: $color2;//#97ABFF;
$accentDark: #E14343;

$textColor: $color1;//black;
$background: $color2;

$button: $color3;

$border: $color4;

/* some constants */

$DESKTOP_WIDTH: 1160px;
$SMALL_LAPTOPS_WIDTH: 970px;
$TABLETS_WIDTH: 750px;
$SMALL_WIDTH: 768px;

/* some standard elements */
/* fonts */
$fontDefault: "M PLUS Rounded 1c", sans-serif;
$fontMono: "Roboto Mono", monospace;

/* a standard drop shadow */
$dropShadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);

$borderRadius: 0.75em;

/* mixins

  these allow you to create small snippets that you can insert with a one-liner in other stylesheets
  for an example, see styles/views/Login.scss
*/
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}